<div class="album">
    <div class="album-contents">
        <div class="album-image-container">
            <img src="{{photoURL}}" alt="{{title}}">
        </div>
        <div class="album-info-container">
            <div class="album-rating">{{rating}}</div>
                <a href="#" class="album-title">{{title}}</a> 
                <span class="album-year">({{year}})</span>
            <div class="album-artist">{{artist}}</div>
        </div>
        <div class="album-review-container">
            <h1>Review: {{review}}</h1>
        </div>
    </div>
</div>